@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.header-actionpart-g{
    width: 100vw;
    height: 33vh;
    background-color: black;
    position: relative;
    top: 70px;
    color: white;

    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
}

.call-to-action-g{
    /* border: 2px solid red; */
    height: 15vh;
    font-size:x-large;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    display: flex;
    align-items:end;
    justify-content: center;
    padding: 0 37%;
    text-align: center;
}

.city-search-g{
    /* border: 2px solid green; */
    height: 20vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 14px;
    gap: 12px;
}

.city-selector-g{
    width: 30%;
    /* border: 1px solid white; */
    background-color: #1E1E1E;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.city-selector-g:focus{
    outline: none;
}

.search-wrapper-g{
    background-color: #1E1E1E;
    display: flex;
    border-radius: 5px;
    flex: 1;
    /* border: 1px solid pink; */
    justify-content: space-between;
}

.search-selector-g{
    width: 100%;
    background-color: #1E1E1E;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* border: 1px solid brown; */
    padding-left: 15px;
    color: #695f5f;
}


.filter-g{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    gap: 15px;
    /* flex-wrap: nowrap; */
    /* overflow-x: auto; */
    overflow-y: hidden;
    scroll-behavior: smooth;
    /* width: 100%; */

    /* changes */
    /* overflow: visible; */
    /* position: relative; */
    /* z-index: 1; */
}

.filter-g button, .date-filter-g{
    font-size: 15px;
    cursor: pointer;
    flex: 0 0 auto;
    white-space: nowrap;
    height: 33px;
    line-height: 33px
}

.city-search-form-g{
    /* border: 2px solid red; */
    height: 5vh;
    /* gap: 5px; */
    display: flex;
    width: 400px;
}

.search-selector-g.city-selector-g:focus{
    color: #695f5f;
    position: relative;
    left: 10px;

}


@media only screen and (max-width: 1031px){
    .call-to-action-g{
        padding: 0 30%;
    }
}

@media only screen and (max-width: 862px){
    .call-to-action-g{
        padding: 0 0;
    }
}

@media only screen and (max-width: 400px) {
    .city-search-form-g{
        width: 90%;
    }
}

@media only screen and (max-width: 548px){
    .filter-g{
        width: 100%;
        justify-content: flex-start;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.search-icon-g{
    /* border: 1px solid white; */
    /* position: relative;
    right: 0px; */
    /* justify-self:flex-end; */
    margin-left: 6px;

}

.filter-chips-g{
    /* border: 1px solid red; */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    position: relative;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.filter-chips-g:after{
    
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width 0.3s ease;

}

.filter-chips-g:hover{
    color: rgb(148, 142, 142);
}

.filter-selected-g::after{
    width: 100%;
}

.filter-g::-webkit-scrollbar {
    display: none;
}