@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.header{
    width: 100%;
    border: 2px solid black;
    height: 70px;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
    align-items: center;
    position:fixed;
}

.logo-and-name{
    display: flex;
    height: 100%;
    width: auto;
    font-size: large;
    font-weight:500;
    gap: 5px;
}
    
.logo{
    height: 50%;
    width: auto;
    align-self: center;
}

.navigation{
    display: flex;
    gap: 26px;
    align-items: center;
}

.profile{
    display: flex;
    gap: 20px;
    
}

.nav-link{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    position: relative;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.nav-link:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-link.active::after{
    width: 100%;
}

.nav-link:hover{
    color: rgb(148, 142, 142);
}

.bottom-navigation{
    /* border: 2px solid red; */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.nav-link-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}