.host-dashboard-page-hp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.host-dashboard-host-name-hp{
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 12px;
}

.host-dashboard-all-event-details-hp{
    border-left: 2px solid white;
    border-right: 2px solid white;
    width: 90%;
    padding: 12px;
    border-radius: 20px;
}

.host-dashboard-each-event-detail-hp{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    border-radius: 20px;
}

.host-dashboard-event-name-hp{
    /* border: 2px solid white; */
    padding: 7px;
    /* width: 200px; */
    width: 20%;
    overflow: hidden;
}

.host-dashboard-event-city-hp{
    /* border: 2px solid red; */
    color: white;
    padding: 7px;
    /* width: 90px; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.host-dashboard-event-date-hp{
    /* border: 2px solid red; */
    color: white;
    padding: 7px;
    /* width: 96px; */
    width: 10%;
    /* font-size: 13px */
    display: flex;
    justify-content: center;
    align-items: center;
}

.host-dashboard-event-time-hp{
    /* border: 2px solid red; */
    color: white;
    padding: 7px;
    /* width: 96px; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 13px */
}

.host-dashboard-event-isPaid-hp{
    /* border: 2px solid red; */
    color: white;
    padding: 7px;
    /* width: 96px; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 13px */
}

.host-dashboard-event-price-hp{
    /* border: 2px solid red; */
    color: white;
    padding: 7px;
    /* width: 96px; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.host-dashboard-event-seats-hp{
    /* border: 2px solid red; */
    color: white;
    padding: 7px;
    /* width: 96px; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.host-dashboard-event-isCancelled-hp{
    /* border: 2px solid red; */
    color: white;
    padding: 7px;
    /* width: 96px; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.host-dashboard-event-image-qr-hp{
    /* width: 96px; */
    width: 10%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-image-button-hp{
    background: linear-gradient(#42A5F5, #4400ff);
    width: 90%;
    height: 80%;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

.host-dashboard-qr-image-hp{
    position: absolute;
    height: 400px;
    width: 400px;
    /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)); */
    top: 25%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}