.resource-detail-page-rp{
    /* border: 2px solid white; */
    margin-top: 20px;
    width: 100%;
    padding: 10px 60px;
    display: flex;
}

.left-interaction-rp{
    border-right: 2px solid white;
    width: 50%;
    padding: 30px;
    border-radius: 20px;
}

.resource-detail-page-image-rp{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.resource-detail-page-title-host-container-rp{
    border-bottom: 2px solid rgb(92, 79, 79);
    /* border: 2px solid white; */
}

.resource-detail-page-title-rp{
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-left: 10px;

}

.resource-detail-page-description-rp{
    /* border: 2px solid white; */
}

.resource-detail-page-host-rp{
    color: white;
    margin-left: 10px;

    /* border: 2px solid white; */
}

.resource-detail-page-description-heading-rp{
    color: white;
    margin-left: 10px;
    margin-top: 20px;

    /* border: 2px solid white; */
}

.resource-detail-page-description-rp{
    color: rgb(135, 121, 121);
    margin-left: 20px;
    margin-bottom: 30px;

}

.right-interaction-rp{
    border-left: 2px solid white;
    width: 50%;
    padding: 30px;
    border-radius: 20px;
    /* padding-bottom: 15px; */
}

.resource-detail-page-location-time-data-rp{
    /* margin-top: 15px; */
    padding-top: 15px;
    border-radius: 20px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-bottom: 15px;
    
}

.resource-detail-page-event-details-heading-rp{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.resource-detail-meta-data-rp{
    margin-left: 5px;
}

.phone-icon{
    width: 20px;
    height: 20px;
    color: white;
}

.resource-detail-page-phone-num {
    color: white;
}